.rockPaperScissorsBoard {
  display: flex;
  flex-direction: column;
  gap: var(--rtc-gap-l);
}

.rockPaperScissors_ResultBoard.hidden {
  display: none;
}

.rockPaperScissors_ResultBoard {
  display: flex;
  justify-content: space-between;
}

.rockPaperScissors_ResultBoard img {
  max-width:75px;
}

.rockPaperScissors_ResultBoard p {
  color: var(--rtc-color-4);
}

.rockPaperScissors_ResultBoard div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--rtc-gap-xs);
}

.rockPaperScissors_ResultBoard h4 {
  font-size: 1.2rem;
}

.resultText_draw {
 color: rgb(255, 224, 87);
}

.resultText_win {
  color: rgb(91, 192, 82);
}

.resultText_lose {
  color: rgb(255, 87, 87);
}

.rockPaperScissors_ResultBoard .result {
  gap: var(--rtc-gap-s);
  font-size: 1.2rem;
}

.rockPaperScissors_ResultBoard .result h2 {
  font-size: 2rem;
}

.rockPaperScissors_ResultBoard .result div {
  display: flex;
  flex-direction: row;
  gap: var(--rtc-gap-s);
}

.rockPaperScissors_ResultBoard .result img {
  width: 1.2rem;
}

.rockPaperScissors_SelectionBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--rtc-gap-xl);
}

.rockPaperScissorsCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 150px;
  background-color: var(--rtc-color-5);
  border: 3px solid var(--rtc-color-4);
  gap: var(--rtc-gap-s);
  border-radius: var(--rtc-border-radius);
}

.rockPaperScissorsCell img {
  width: 50px;
  height: 50px;
}

.rockPaperScissorsCell:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border: 3px solid var(--rtc-color-6);
  cursor: pointer;
}


@media (max-width: 1000px) {
  .rockPaperScissorsCell{
  width: 150px;
  height: 80px;
  gap: var(--rtc-gap-xs);
  }

  .rockPaperScissorsCell img {
  width: 25px;
  height: 25px;
}

  .rockPaperScissorsBoard {
    flex-direction: row;
    }

  .rockPaperScissors_ResultBoard {
    flex-direction: column;
  }

  .rockPaperScissors_ResultBoard h4 {
  font-size: 1rem;
}

.rockPaperScissors_ResultBoard .result {
  gap: var(--rtc-gap-s);
  font-size: 1rem;
}

.rockPaperScissors_ResultBoard .result h2 {
  font-size: 1.8rem;
}

  .rockPaperScissors_SelectionBoard{
    grid-template-columns: repeat(1, 1fr);
    gap: var(--rtc-gap-s);
  }

  .result h2{
    display: none;
  }

  .rockPaperScissors_ResultBoard img {
    width: 20px;
    height: 20px;
  }
}