.gameCurrentPlayerContainer {
  background-color: rgb(133, 89, 9);
  display: flex;
  justify-content: center;
  gap: var(--rtc-gap-m);
  background-color: var(--rtc-color-3);
  border: 2px solid var(--rtc-color-4);
  border-radius: var(--rtc-border-radius);
  padding: var(--rtc-padding-s);
}

.gameCurrentPlayerContainer p {
  font-weight: 600;
  font-size: 1.2rem;
}

.gameCurrentPlayerContainer .currentPlayerValue_x {
  color: rgb(87, 140, 255);
}

.gameCurrentPlayerContainer .currentPlayerValue_o { 
  color: rgb(255, 87, 87);
}